<h1>New Winery</h1>

<%= form_for(@winery) do |f| %>
    <%= f.label :name %>: 
    <%= f.text_field :name %><br>
    <%= f.label :state %>: 
    <%= f.text_field :state %><br>
    <%= f.label :country %>: 
    <%= f.text_field :country %><br>
    <%= f.label :region %>: 
    <%= f.text_field :region %><br>
    <%= f.label :established %>: 
    <%= f.number_field :established, min: 1800 %><br><br>
    <%= f.submit %>
<% end %>