<% if @wine.errors.any? %>
    <div id="error_explanation">
    <h2> <%= pluralize(@wine.errors.count, "error") %> prohibited entry from being saved: </h2>
    <ul>
        <% @wine.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for [@winery, @wine] do |f| %>
    <%= f.label :name, "Wine Name:"%>
    <%= f.text_field :name %><br>
    <%= f.label :wine_type, "Wine Type: " %>
    <%= f.select :wine_type, ["Cabernet Sauvignon", "Cabernet Franc", "Malbec", "Red Blend", "Syrah", "Zinfandel", "Pinot Noir", "Chardonnay", "Sauvignon Blanc", "Pinot Gris", "Riesling"], prompt: "Select Type" %><br>
    <%= f.label :year %>: 
    <%= f.number_field :year, min: 1800 %><br>
    <%= f.label :price %>: $
    <%= f.number_field :price, min: 0 %><br>
    <%= f.label :opened %>: 
    <%= f.check_box :opened %><br>
    <%= f.label :notes %>: 
    <%= f.text_area :notes %><br>
    <%= display_winery_fields(@winery, f) %>
    <%= f.submit %>
<% end %>