<h1>New Wine</h1>
<%= form_for @wine do |f| %>
    <%= f.label :name %>: 
    <%= f.text_field :name %><br>
    <%= f.label :wine_type, "Wine Type: " %>
    <%= f.select :wine_type, ["Cabernet Sauvignon", "Cabernet Franc", "Malbec","Syrah", "Zinfandel", "Pinot Noir", "Chardonnay", "Sauvignon Blanc", "Pinot Gris", "Riesling"], prompt: "Select Type" %><br>
    <%= f.label :year %>: 
    <%= f.number_field :year, min: 1800 %><br>
    <%= f.label :price %>: $
    <%= f.number_field :price, min: 0 %><br>
    <%= f.label :opened %>: 
    <%= f.check_box :opened %><br>
    <%= f.label :notes %>: 
    <%= f.text_area :notes %><br><br>
    <%= f.submit %>
<% end %>