<h1><%= @wine.name %></h1>
<ul>
    Winery: <%= link_to @wine.winery.name, winery_path(@wine.winery) %><br>
    Type: <%= @wine.wine_type %><br>
    Year: <%= @wine.year %><br>
    Price: $<%= @wine.price %><br>
    Opened? <%= @wine.opened ? "Yes" : "No" %><br>
    Notes: <%= @wine.notes %><br>
    <br>
    Added: <%= @wine.created_at %><br>
    Updated: <%= @wine.updated_at %>
</ul>
<br>
<%= link_to "Edit #{@wine.name}", edit_wine_path(@wine) %> 