<h1><%= @wine.name %></h1>
<ul>
    Winery: <%= @wine.winery.name %><br>
    Type: <%= @wine.wine_type %><br>
    Year: <%= @wine.year %><br>
    Price: $<%= @wine.price %><br>
    Opened? <%= @wine.opened %><br>
    Notes: <%= @wine.notes %><br>
    <br>
    Added: <%= @wine.created_at %><br>
    Updated: <%= @wine.updated_at %>
</ul>